<!DOCTYPE html>
<html>

    <meta charset="UTF-8">
    <head>
        <title>Terceira Entrega BD</title>


    </head>

    <body>

        <style>
                body {font-family: "Times New Roman", Georgia, Serif;}

        </style>


        <div>
        <h1>Opções</h1>
        </div>


        <p><a href="listInstituicoes" style="text-decoration:none; color:black">Operações com instituições</a> <br /></p>
        <p><a href="listMedicos" style="text-decoration:none; color:black">Operações com médicos</a> <br /></p>
        <p><a href="listPrescricoes" style="text-decoration:none; color:black">Operações com Prescrição</a> <br /></p>
        <p><a href="listAnalises" style="text-decoration:none; color:black">Operações com Análises</a> <br /></p>
        <p><a href="listVendas" style="text-decoration:none; color:black">Realizar Venda</a> <br /></p>

    </body>
</html>